  <header class="w3-container w3-orange">
  <!--<header class="w3-container">-->
    <div class="w3-row">
      <div class="w3-col" style="width:50%">
        <img src="/images/icon.png" alt="Logo" class="header-logo">
        <h1 class="w3-xxlarge header-title">FlashBook</h1>
      </div>
    </div>
  </header>