  <div class="w3-container">
    <div class="dashboard-container">
      <!-- Create User Container -->
      <div class="create-user-container">
        {{> add_store_sidebar }}
        {{> update_store_sidebar }}
      </div>

      <!-- User List Container -->
      <div class="user-list-container">
        {{> store_list}}
      </div>
    </div>
  </div>
