<div class="center">
    <div class="w3-container w3-half w3-margin-top">
        <h2 class="w3-text-dark-gray w3-margin-bottom" style="font-weight: bold;">Login</h2>
        <form class="w3-display-container w3-card w3-padding-large w3-round" action="/login" method="POST">
            <div class="w3-section">
                <label class="">Username</label>
                <input class="w3-input w3-border w3-round" type="text" placeholder="Enter Username" name="username" required autofocus>
            </div>
            <div class="w3-section">
                <label for="password">Password</label>
                <input class="w3-input w3-border w3-round" type="password" placeholder="Enter Password" name="password" required>
            </div>
            <button class="w3-button fb-palette-primary w3-round w3-block">Login</button>
        </form>
        <div class="w3-center">
            <p>Don't have an account? <a class="w3-hover-text-blue-gray" style="text-decoration: underline;" href="/signup">Register here</a></p>
        </div>
    </div>
</div>